.main {
    font-size : 40px;
    color : aliceblue;
    width : 100vw;
    display : flex;
}

.chat {
    display : flex;
    background : #fff;
    margin : 15px;
    border-radius : 5px;
    max-width : 70%;
    max-height : 500px;
    color : #000;
    padding : 10px;
}

.my {
    background : #7FB6AD;
    margin : 15px;
    border-radius : 5px;
    max-width : 70%;
    color : #fff;
    padding : 10px;
}

#talkservice {
    margin-left : 5px;
    margin-top : 25px;
    width : 20vw;
    height : 95vh;
    background : rgba(0, 0, 0, 0.2);
    font-size : 15px;
    display : flex;
    flex-direction : column;
    justify-content : end;
}
#conversation {
    width : inherit;
    display : flex;
    flex-direction : column;
    justify-content: end;
    height : 80vh;
}
#input {
    width : 100%;
    height : 10vh;
    display : flex;
}
#text{
    width : 70%;
    min-width : 100px;
    background : rgba(0, 0, 0, 0.25);
    padding : 5px;
    outline : none;
    font-weight :bolder;
    color : white;
    resize : none;
    border : none;
}
#button {
    width : 30%;
    min-width : 50px;
}

.menu {
    background : aliceblue;
    border-top : 5px solid black;
    font-size : 20px;
    color : black;
    width : inherit;
    margin-right : 3px;
    height : 35px;
}
#profile {
    background : #9FD6CD;
}
#github {
    background : #F4E3DC;
}
#instagram {
    background : #EF9a9a;
}
#blog {
    background : #EDE6C5;
}
#youtube {
    background : #F4D284;
}
#email {
    background : #89948d;
}
#visitlog{
    background : #7a7e97;
}

#box { 
    border : 10px solid aliceblue;
    border-top : 0px;
    margin-top : 25px;
    width : 60vw;
    height : 95vh;
}

.content{
    width : 300px;
    height : 300px;
    margin :15px;
    justify-content : center;
    align-items : center;
    background : white;
}